<form method="POST" class="ajaxForm" action="{{path('person_detail', {'id':entity.id})}}" {{ form_enctype(form) }} novalidate>
    <div id="form_body">
        {% include ':form:formBody.html.twig' with {'form': form} %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>